*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
build/
!data/

*.xcodeproj
*.xcconfig
*.plist

*/image-net-2012.sqlite3
DoodleTunesTouchscreen/bin/data/image-net-2012.sqlite3
DoodleTunesCamera/bin/data/image-net-2012.sqlite3
